:root {
  background-color: #264653;
  font-family: "Caprasimo", cursive;
}

.container {
  font-family: "Caprasimo", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.game-container {
  font-family: "Caprasimo", cursive;
  background-color: #dad7cd;
  min-width: 500px;
  max-width: 500px;
  height: 500px;
  border: 5px solid #212529;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 3.5rem;
}

.instructions {
  width: 60%;
  text-align: center;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: auto;
  border: 2px solid #93b5c4;
  border-radius: 0.4rem;
  font-size: 2rem;
  color: rgb(117, 115, 115);
  cursor: pointer;
  box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, 0.42),
    -5px 0px 5px 2px rgba(0, 0, 0, 0.42);
}

.die:hover {
  outline: 2px solid whitesmoke;
}

.dieIsHeld {
  background-color: #4fe6a4;
}

.dieIsNotHeld {
  background-color: #8ecae6;
}

.confetti {
  width: 100%;
}
